@media screen and (min-width: 1550px){
    .telo_0 
    {
        padding-top: 60px;
        display: block;
    }
    .nweek{margin: 8px 0px 8px 0px;}
    .Tname {padding-left: 1em; margin: auto 0;}
    .namegroup
    {
    text-align: center;
    border-radius: 20px;
    font-size:1.5em;
    outline: none;
    width: 40%;
    margin: auto 0;
    }
    .SearchGroup{display: flex;}
    .Search
    {  
        font-size: 1rem;
        margin: auto 0;
        padding: 6px;
    }
    .namegroup, .Search {margin-left: 1em;}
    .uberweek {width: 100%; display: flex;}
    .NTAlert {padding: 8px; width: 90vw;}
    .TAlert {font-size: 1.5rem;}




    .week 
    {
        display: flex;
        margin-left: auto;
        margin-right: auto;  
    }
    .its-day
    {
        max-width: 260px;
        width: 100%;
        margin: 0 5px 0 5px;
    }
    .lhead, .lname, .loc, .lte {padding: 4px 0 4px 0;}
    .lhead{ text-align:center;}
    .ltime, .ltype { display:inline-block;}
    .ltype
    {
        margin-left: 4px;
        padding: 2px 9px 2px 9px;
        background-color: var(--w4);
        border-radius: 12px;
        position: unset;
    }
    .lesson, .nameday {margin: 3px;}
    .its-day
    {
        height: auto;
    }

    /*.lessons
    {
        display: grid;
        width: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }*/
}